*
{
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.webgl
{
	position: absolute;
}

.ui
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.colour-picker
{
	position: absolute;
	top: 0;
	left: 0;
}

.art-picker
{
	position: absolute;
	top: 0;
	left: 0;
}

.carousel-button
{
	position: absolute;
	width: 77px;
	height: 154px;
	top: 50%;
	transform: translateY(-50%);
	/*background: url('../svg/arrow.svg');*/
	opacity: 0.5;
	transition: opacity 0.15s ease-out;
	cursor: pointer;
}

.carousel-button:hover
{
	opacity: 1.0;
}

.carousel-button.left
{
	left: 0px;
}

.carousel-button.right
{
	right: 0px;
	transform: translateY(-50%) scaleX(-1);
}